{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% from '_formhelpers.html' import render_field %}

{% block content %}
        <!-- BREADCRUMB AREA START -->
        <div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image " data-bs-bg="img/bg/14.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ltn__breadcrumb-inner">
                            <h1 class="page-title">Contact Us</h1>
                            <div class="ltn__breadcrumb-list">
                                <ul>
                                    <li><a href="index.html"><span class="ltn__secondary-color"><i
                                                    class="fas fa-home"></i></span> Home</a></li>
                                    <li>Contact</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BREADCRUMB AREA END -->

        <!-- CONTACT ADDRESS AREA START -->
        <div class="ltn__contact-address-area mb-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ltn__contact-address-item ltn__contact-address-item-3 box-shadow">
                            <div class="ltn__contact-address-icon">
                                <img src="img/icons/10.png" alt="Icon Image">
                            </div>
                            <h3>Email Address</h3>
                            <a href="mailto:email@example.com" style="display: block;">info@webmail.com</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ltn__contact-address-item ltn__contact-address-item-3 box-shadow">
                            <div class="ltn__contact-address-icon">
                                <img src="img/icons/11.png" alt="Icon Image">
                            </div>
                            <h3>Phone Number</h3>
                            <a href="tel:123-456-7890" style="display: block;">+994 51 200 00 00</a>
                            <a href="tel:123-456-7890" style="display: block;">+994 55 200 00 00</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ltn__contact-address-item ltn__contact-address-item-3 box-shadow">
                            <div class="ltn__contact-address-icon">
                                <img src="img/icons/12.png" alt="Icon Image">
                            </div>
                            <h3>Office Address</h3>
                            <p>18/A, New Born Town Hall
                                New York, US</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CONTACT ADDRESS AREA END -->

        <!-- CONTACT MESSAGE AREA START -->
        <div class="ltn__contact-message-area mb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ltn__form-box contact-form-box box-shadow white-bg">
                            <h4 class="title-2">Get A Quote</h4>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                            <span>{{ message }}</span>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            <form id="contact-form" method="post">
                                {{ form.csrf_token }}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-item input-item-name ltn__custom-icon">
                                            {{ render_field(form.name, class="") }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-item input-item-phone ltn__custom-icon">
                                            {{ render_field(form.phone, class="") }}
                                        </div>
                                    </div>
                                </div>
                                <div class="input-item input-item-textarea ltn__custom-icon">
                                    {{ render_field(form.message, class="") }}
                                </div>
                                <div class="btn-wrapper mt-0">
                                    <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">Send</button>
                                </div>
                                <p class="form-messege mb-0 mt-20"></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CONTACT MESSAGE AREA END -->

        <!-- GOOGLE MAP AREA START -->
        <div class="google-map">

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12150.480078241353!2d49.843633087015405!3d40.41726781983913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4030873d27b619c3%3A0xbb58ae3a75e9f30d!2zVMO8cmsgRMO8bnlhc8SxIEJha8O8IEFUQVTDnFJLIEzEsFNFU8SwIE5hcmltYW5vdiDFnnViZXNp!5e0!3m2!1sen!2s!4v1673419523549!5m2!1sen!2s"
                width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <!-- GOOGLE MAP AREA END -->

        
{% endblock content %}
